<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Board List</title>
</head>
<body>

    <form action="#" th:action="@{/board/form}" th:object="${board}" method="post">
        <input type="hidden" th:field="*{id}">
        <div>
            <label for="title">제목</label>
            <input type="text" id="title" placeholder="제목" th:field="*{title}"
            th:class="${#fields.hasErrors('title')}">
            <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                제목에러
            </div>
        </div>
        <div>
            <label for="content">내용</label>
            <textarea id="content" placeholder="내용" th:field="*{content}"
                th:classappend="${#fields.hasErrors('content')}"></textarea>
            <div th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
                내용에러
            </div>
        </div>
            <a type="button" th:href="@{/board/list}">취소</a>
            <button type="submit">확인</button>
        </div>
    </form>

</body>
</html>