<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>로그인</title>
</head>
<body>

  <form action="">
    <p><h1>Sign in</h1></p>
    <p>
      <label for="userName">User Name</label>
      <input type="text" id="userName" placeholder="User Name">
    </p>
    <p>
      <label for="inputPassword">Password</label>
      <input type="password" id="inputPassword" placeholder="Password">
    </p>
    <p><button type="submit">Sign in</button></p>
  </form>

</body>
</html>